@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-black;
    font-family: 'Cormorant Garamond';
  }
  p {
    @apply text-left;
    @apply pb-4;
  }
  h3 {
    @apply text-lg;
  }
  h2,
  nav {
    @apply text-lg;
    @apply italic;
  }
  h2 {
    @apply text-xl;
  }
}
