.ril__outer {
  background-color: #ffffffee;
}

.ril__navButtons {
  color: black;
  width: auto;
  height: auto;
}

@media screen and (max-width: 885px) {
  .ril__navButtons {
    color: #ffffffee;
    width: auto;
    height: auto;
  }
}

.ril__navButtons:focus {
  outline: 0;
}

.ril__navButtonPrev {
  background: none;
  background-color: #00000000;
}

.ril__navButtonPrev::before {
  font-size: 4em;
  content: '‹';
}

.ril__navButtonNext {
  background: none;
  background-color: #00000000;
}

.ril__navButtonNext::before {
  font-size: 4em;
  content: '›';
}

.ril__closeButton {
  width: auto;
  height: auto;
  background: none;
  outline: 0;
}

.ril__closeButton:focus {
  outline: 0;
}

.ril__closeButton::before {
  color: black;
  font-size: 4em;
  content: '×';
}

.ril__toolbar {
  background-color: #ffffff00;
}
